<div *ngIf="tooSmall">
  <mdb-icon fas icon="exclamation-circle" class="text-danger" size="2x"></mdb-icon>
  <span> Size too small for component.</span>
</div>
<div *ngIf="!tooSmall" class="container-fluid mb-4">
  <div class="row justify-content-between">
    <div class="col-auto title ml-3">Asset Category</div>
    <div class="col date">&nbsp;</div>
    <div class="col-auto date">As of. 7/11/17</div>
  </div>
</div>
<div *ngIf="!tooSmall && selectOrientation" style="position: relative">
  <div style="z-index: 4; position: absolute; left: 25px; top: -20px;">
    <div *ngIf="vertical">
      <img src="assets\vertical-selected.png" class="orientation">
      <img src="assets\horizontal-unselected.png" class="orientation" (click)="changeOrientation()">
    </div>
    <div *ngIf="!vertical">
      <img src="assets\vertical-unselected.png" class="orientation" (click)="changeOrientation()">
      <img src="assets\horizontal-selected.png" class="orientation">
    </div>
  </div>
</div>
<div *ngIf="!tooSmall && vertical" class="container-fluid">
  <div class="row" style="position: relative">
    <div class="col" style="z-index: 3; position: absolute; left: -20px; top: -20px;">
      <a (click)="changeFirst()"><mat-icon>import_export</mat-icon></a>
    </div>
  </div>
  <div class="row justify-content-center mb-2" *ngIf="chartFirst">
    <div class="col-auto">
      <img src="assets\pie.png" class="pie">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">

      <table>
        <tr>
          <th>ASSET CATEGORY</th>
          <th class="text-right">VALUE</th>
          <th class="text-right">(%)</th>
          <th class="text-right" *ngIf="(vertical && widget.cols > 6) || (!vertical && widget.cols > 9)">PERFORMANCE</th>
        </tr>
        <tr *ngFor="let row of dataTable">
          <td class="category"><button class="color-icon ml-1 mr-2" [style.background-color]="row.color"></button>{{row.category}}</td>
          <td class="value">{{row.value}}</td>
          <td class="percentage">{{row.percentage}}</td>
          <td class="performance" *ngIf="(vertical && widget.cols > 6) || (!vertical && widget.cols > 9)">{{row.performance}}</td>
        </tr>
        <tr>
          <td class="total">Total</td>
          <td class="total text-right">100,000,000.00</td>
          <td class="total text-right">100%</td>
          <td class="total text-right" *ngIf="(vertical && widget.cols > 6) || (!vertical && widget.cols > 9)">2.00</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row justify-content-center mt-2" *ngIf="!chartFirst">
    <div class="col-auto">
      <img src="assets\pie.png" class="pie">
    </div>
  </div>
</div>
<div *ngIf="!tooSmall && !vertical" class="container-fluid">
  <div class="row" style="position: relative">
    <div class="col" style="z-index: 3; position: absolute; left: -20px; top: -20px;">
      <a (click)="changeFirst()"><mat-icon>sync_alt</mat-icon></a>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-auto" *ngIf="chartFirst">
      <img src="assets\pie.png" class="pie">
    </div>
    <div class="col">
      <table>
        <tr>
          <th>ASSET CATEGORY</th>
          <th class="text-right">VALUE</th>
          <th class="text-right">(%)</th>
          <th class="text-right" *ngIf="(vertical && widget.cols > 6) || (!vertical && widget.cols > 9)">PERFORMANCE</th>
        </tr>
        <tr *ngFor="let row of dataTable">
          <td class="category"><button class="color-icon ml-1 mr-2" [style.background-color]="row.color"></button>{{row.category}}</td>
          <td class="value">{{row.value}}</td>
          <td class="percentage">{{row.percentage}}</td>
          <td class="performance" *ngIf="(vertical && widget.cols > 6) || (!vertical && widget.cols > 9)">{{row.performance}}</td>
        </tr>
        <tr>
          <td class="total">Total</td>
          <td class="total text-right">100,000,000.00</td>
          <td class="total text-right">100%</td>
          <td class="total text-right" *ngIf="(vertical && widget.cols > 6) || (!vertical && widget.cols > 9)">2.00</td>
        </tr>
      </table>
    </div>
    <div class="col-auto" *ngIf="!chartFirst">
      <img src="assets\pie.png" class="pie">
    </div>
  </div>
</div>
