@import '~@angular/material/theming';

th {
  font-family: Arial;
  box-sizing: border-box;
  height: 31px;
  border: 1px solid #FFFFFF;
  background-color: #07518F;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 11px;
  padding: 5px;
}

td {
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  height: 28px;
  vertical-align: middle;
}

.pie {
  height: 180px !important;
}

.orientation {
  height: 25px;
}

.category {
  min-width: 240px;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 9;
  line-height: 14px;
  width: 25%;
}

.value {
  min-width: 120px;
  text-align: right;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 9;
  line-height: 14px;
  padding-right: 5px;
  width: 15%;
}

.percentage {
  min-width: 70px;
  text-align: right;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 9;
  line-height: 14px;
  padding-right: 5px;
  width: 10%;
}

.performance {
  min-width: 70px;
  text-align: right;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 9;
  line-height: 14px;
  padding-right: 5px;
  width: 10%;
}

.total {
  font-weight: bold;
  border-bottom: 0px;
  font-size: 12px;
  border-top: 2px solid #07518F;
}

.report_header {
  border-bottom: 1px solid #D9D9D9;
  border-left: 6px solid #D9D9D9;
  color: #A29060;
  font-weight: bold;
  font-size: 13px;
}

.date {
  border-bottom: 1px solid #DCDDDE;
}

.color-icon {
  min-width: 20px;
  height: 15px;
  border: none;
}