@import '~@angular/material/theming';
.icon {
  max-width: 20px;
}
th {
  font-family: Arial;
  box-sizing: border-box;
  height: 31px;
  border: 1px solid #FFFFFF;
  background-color: #07518F;
  color: #FEFEFE;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 11px;
  padding-left: 5px;
  padding-right: 5px;
}

td {
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  height: 28px;
  vertical-align: middle;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 9;
  line-height: 14px;
  padding-right: 5px;
}

.pie {
  height: 180px !important;
}

.orientation {
  height: 25px;
}

.assetName, .acctName, .combinedAccountName, .assetClass1Name, .assetClass2Name,
.assetClass3Name, .investorName, .combinedAccountName, .mgrName, .productName, .style {
  min-width: 175px;
  width: 14%;
}

.value, .price, .quantity, .ror, .yield, .percentageOfAccount, .estimatedAnnualIncome,
.unrealizedGainLoss, .beginningValue, .netContribution, .changeInValue {
  min-width: 70px;
  text-align: right;
  width: 7%;
}

.ticker, .mgmtCompany, .morningstarRating, .assetType, .acctNum, .accountType, .taxStatus {
  min-width: 70px;
  width: 7%;
}



.title {
  border-bottom: 1px solid #DCDDDE;
  border-left: 6px solid #DCDDDE;
  color: #816C46;
  font-weight: bolder;
  font-stretch: wider;
}

.date {
  border-bottom: 1px solid #DCDDDE;
}

.color-icon {
  min-width: 20px;
  height: 15px;
  border: none;
}