<div *ngIf="widget.edit" style="z-index: 2; position: absolute; right: 40px; top: -20px">
  <a class="drag-handler" (click)="openDialog()">
    <img class="icon" src="assets/edit.png"/>&nbsp;
  </a>
</div>
<div *ngIf="tooSmall">
  <mdb-icon fas icon="exclamation-circle" class="text-danger" size="2x"></mdb-icon>
  <span> Size too small for component.</span>
</div>
<div *ngIf="!atEnd">
  <mdb-icon fas icon="exclamation-circle" class="text-danger" size="2x"></mdb-icon>
  <span> Component not at end of page.</span>
</div>
<div *ngIf="!tooSmall && atEnd" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col" *ngIf="params.dataColumns.length === 0">
      Data Columns are not selected. Please select data columns.
    </div>
    <div class="col" *ngIf="params.dataColumns.length !== 0 && categories.length === 0">
      <table width="100%">
        <tr>
          <ng-container *ngFor="let column of params.dataColumns; index as i;">
            <th *ngIf="i < 10 && ( widget.cols > mincolumns[i])" class="{{column.value}}">{{column.viewValue | uppercase}}</th>
          </ng-container>
        </tr>
        <tr *ngFor="let row of dataTable">
          <ng-container *ngFor="let column of params.dataColumns; index as i;">
            <td *ngIf="i < 10 && ( widget.cols > mincolumns[i])" class="data {{column.value}}">{{row[column.value]}}</td>
          </ng-container>
        </tr>
      </table>
    </div>
    <div class="col" *ngIf="params.dataColumns.length !== 0 && categories.length !== 0">
      <ng-container *ngFor="let category1 of categories">
        <div class="row" *ngIf="params.category1Data.length !== 0">
          <ng-container *ngFor="let dataColumn of params.category1Data; index as j">
            <div class="col-12 title mb-1" *ngIf="j === 0">{{category1.categoryData[0][dataColumn.value]}}</div>
            <div class="col-4 subtitle" *ngIf="j !== 0 && category1.categoryData[0][dataColumn.value] !== null">{{dataColumn.viewValue | uppercase}}: {{category1.categoryData[0][dataColumn.value]}}</div>
          </ng-container>
        </div>
        <div class="row pb-3" *ngIf="category1.categoryData.length !== 0 && params.category2 === null">
          <div class="col">
            <table width="100%">
              <tr>
                <ng-container *ngFor="let column of params.dataColumns; index as i;">
                  <th *ngIf="i < 10 && ( widget.cols > mincolumns[i])" class="{{column.value}}">{{column.viewValue | uppercase}}</th>
                </ng-container>
              </tr>
              <tr *ngFor="let row of category1.categoryData">
                <ng-container *ngFor="let column of params.dataColumns; index as i;">
                  <td *ngIf="i < 10 && ( widget.cols > mincolumns[i])" class="data {{column.value}}">{{row[column.value]}}</td>
                </ng-container>
              </tr>
            </table>
          </div>
        </div>
        <ng-container *ngIf="params.category2 !== null">
          <ng-container *ngFor="let category2 of category1.subCategories">
            <div class="row" *ngIf="params.category2Data.length !== 0">
              <ng-container *ngFor="let dataColumn of params.category2Data; index as k">
                <div class="col-12 title mb-1" *ngIf="k === 0">{{category2.categoryData[0][dataColumn.value]}}</div>
                <div class="col-4 subtitle" *ngIf="k !== 0 && category2.categoryData[0][dataColumn.value] !== null">{{dataColumn.viewValue | uppercase}}: {{category2.categoryData[0][dataColumn.value]}}</div>
              </ng-container>    
            </div>
            <div class="row pb-3" *ngIf="category2.categoryData.length !== 0 && params.category3 === null">
              <div class="col">
                <table width="100%">
                  <tr>
                    <ng-container *ngFor="let column of params.dataColumns; index as i;">
                      <th *ngIf="i < 10 && ( widget.cols > mincolumns[i])" class="{{column.value}}">{{column.viewValue | uppercase}}</th>
                    </ng-container>
                  </tr>
                  <tr *ngFor="let row of category2.categoryData">
                    <ng-container *ngFor="let column of params.dataColumns; index as i;">
                      <td *ngIf="i < 10 && ( widget.cols > mincolumns[i])" class="data {{column.value}}">{{row[column.value]}}</td>
                    </ng-container>
                  </tr>
                </table>
              </div>
            </div>
            <ng-container *ngIf="params.category3 !== null">
              <ng-container *ngFor="let category3 of category2.subCategories">
                <div class="row" *ngIf="params.category3Data.length !== 0">
                  <ng-container *ngFor="let dataColumn of params.category3Data; index as m">
                    <div class="col-12 title mb-1" *ngIf="m === 0">{{category3.categoryData[0][dataColumn.value]}}</div>
                    <div class="col-4 subtitle" *ngIf="m !== 0 && category3.categoryData[0][dataColumn.value] !== null">{{dataColumn.viewValue | uppercase}}: {{category3.categoryData[0][dataColumn.value]}}</div>
                  </ng-container>    
                </div>
                <div class="row pb-3" *ngIf="category3.categoryData.length !== 0">
                  <div class="col">
                    <table width="100%">
                      <tr>
                        <ng-container *ngFor="let column of params.dataColumns; index as i;">
                          <th *ngIf="i < 10 && ( widget.cols > mincolumns[i])" class="{{column.value}}">{{column.viewValue | uppercase}}</th>
                        </ng-container>
                      </tr>
                      <tr *ngFor="let row of category3.categoryData">
                        <ng-container *ngFor="let column of params.dataColumns; index as i;">
                          <td *ngIf="i < 10 && ( widget.cols > mincolumns[i])" class="data {{column.value}}">{{row[column.value]}}</td>
                        </ng-container>
                      </tr>
                    </table>
                  </div>
                </div>
              </ng-container>    
            </ng-container>
          </ng-container>    
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
