@import '~@angular/material/theming';

.icon {
  max-width: 20px;
}

.addButton {
  float: left;
}

.gridsterstyles {
  background-color: #01579b;
}
/*
gridster ::ng-deep .gridster-column:nth-child(1) {
  width: 450px !important;
  border-color: #ff0000;
}

gridster ::ng-deep .gridster-column:nth-child(2) {
  width: 700px !important;
  border-color: #ff0000;
}
*/